@media (min-width: 992px) {
  .navbar-nav.ml-auto {
    margin-left: auto !important;
  }
  .navbar-nav .dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
  }
}

.dropdown-menu-custom {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  right: 0;
}

.link-cursor {
  cursor: pointer;
}
